*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  /* background-color: cyan; */
  width: 100%;
  height: 100vh;
  display: grid;
  background-image: linear-gradient(rgba(0, 168, 255, 0.3), rgba(0, 168, 255, 0.3)), url(../images/header.webp);
  background-size: cover;
  background-position: center;
  clip-path : polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
  position: relative;
}
section::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
  opacity: 0.3;
  z-index: -1;
}
.container-home{
  margin: 5px 100px;
  /* background-color: white; */
  display: grid;
  grid-template-rows: 75px 180px;
  grid-row-gap: 200px;
}
.header-top{
  /* background-color: #548174; */
}
.header-top .container{
  margin: 0;
  padding: 0;
}
.header-center{
  /* background-color: #548aaa; */
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.header-center-content{
  /* background-color: #B7F3B4; */
  grid-column: 2/3;
  text-align: center;
  padding: 20px 0px;
}
.navbar::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
  opacity: 0.3;
  z-index: -1;
}
.nav-item a{
  color: #fff!important;
  font-weight: bold;
}
.navbar-brand{
  color: #fff!important;
  font-weight: bolder;
}
