*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  background-color: cyan;
  width: 100%;
  height: 100vh;
  display: grid;
}
.container{
  padding: 9px 0px;

}
.container-home{
  margin: 5px 50px;
  background-color: white;
  display: grid;
  grid-template-rows: 75px 180px;
  grid-row-gap: 200px;
}
.header-top{
  background-color: #548174;
}
.header-center{
  background-color: #548aaa;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.header-center-content{
  background-color: #B7F3B4;
  grid-column: 2/3;
  text-align: center;
  padding: 20px 0px;
}
